{% extends 'base.html.twig' %}

{% block body %}
<div id="pagewrap">
    <div id="logo">
        <img src="{{ asset('images/Logo.png') }}"/>
    </div>
    <header>
        <nav id='cssmenu'>
            <div class="logo"><a href="index.html">Responsive </a></div>
            <div id="head-mobile"></div>
            <div class="button"></div>
            <ul>
                <li class='active'><a href='#'>HOME</a></li>
                <li><a href='#'>ABOUT</a></li>
                <li><a href='#'>PRODUCTS</a>
                    <ul>
                        <li><a href='#'>Product 1</a>
                            <ul>
                                <li><a href='#'>Sub Product</a></li>
                                <li><a href='#'>Sub Product</a></li>
                            </ul>
                        </li>
                        <li><a href='#'>Product 2</a>
                            <ul>
                                <li><a href='#'>Sub Product</a></li>
                                <li><a href='#'>Sub Product</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href='#'>BIO</a></li>
                <li><a href='#'>VIDEO</a></li>
                <li><a href='#'>GALLERY</a></li>
                <li><a href='#'>CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <section id="main">
        {{ item }}
    </section>
    {% if user %}
        <li>{{ user.username }}</li>
    {% else %}
        <li>No users found</li>
    {% endif %}
    <!--       <footer>
            <h4>Footer</h4>
            <p>Footer text</p>
          </footer> -->
</div><!-- end-of-pagewrap -->
<footer>
    <h4>Footer</h4>
    <p>Footer text</p>
</footer>


{% endblock %}
