/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */

/* CELL DESIGN */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1%;

    color:white;

    border: solid 1px #ccc;
    background: #f0efef;

    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url('../images/groapa.jpg');

    height: 150px;
}
.col h2{
    position: relative;
    left: 10px;
    top: 10px;
    font-size: medium;
    float: left;
}

.col .scor .scor_text{
    color: #fd2800;
}

.col .follow .follow_text{
    color: #fd2800;
}

.col p{
    padding: 55px 10px 0px 25px;
    height:65px;
    width: auto;

    margin:0px;
}

.col .bottom{
    background: #010b13;
    padding: 2px 10px 0px 10px;
    margin: 0px;

    height: 30px;
}

.col .follow{
    float: right;
}
.col .score{
    vertical-align: middle;
    padding-top: 2px;
}

.col .status{
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    background: #fd2800;
    color: #fff5f3;
    display:inline-block;
    float:right;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}