/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */

/* CELL DESIGN */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1%;

    border: solid 1px #ccc;
    background: #f0efef;

    height: 120px;
}
.col h2{
    margin: 0px;
    font-size: medium;
    padding-left: 10px;
    float: left;
}

.col p{
    padding-top: 25px;
    padding-left: 10px;
    height:60px;
    width: auto;
    border-bottom: 5px solid red;
    margin:0px;
}

.col .status{
    background: #FFCC00;
    display:inline-block;
    float:right;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}