@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    background: #eee;
}

#map{
    min-width: 500px;
    min-height: 500px;
}

/* Ideas */
.idea{
    border: solid 1px #ccc;
    margin-bottom: 5px;
    background: #f0efef;
    padding-left: 10px;
}

/* STRUCTURE */
#content {
    width: 100%;
    float: left;
    padding: 5px 15px;
}

footer {
    clear: both;
    padding: 0 15px;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

    #content {
        padding: 1% 4%;
        float: left;
    }
    footer {
        padding: 1% 4%;
    }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

    #content {
        float: none;
    }

}

/* for 480px or less */
@media screen and (max-width: 480px) {

    header {
        height: auto;
    }
    h1 {
        font-size: 2em;
    }

}


#content{
    margin-bottom: 5px;
}

footer {
    border: solid 1px #ccc;
}