{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
{% endblock %}

{% block body %}

    <div class="container">
        <form id="contact" action="{{ path('login') }}" method="post">
            <h3>Autentificare</h3>
            {% if error %}
                <h4>{{ error.messageKey|trans(error.messageData, 'security') }}</h4>
            {% endif %}
            <fieldset>
                <input placeholder="Email" type="email" tabindex="1" required autofocus id="username" name="_username" type="email" value="{{ last_username }}">
            </fieldset>
            <fieldset>
                <input placeholder="Parola" type="password" tabindex="2" required id="password" name="_password" type="password" spellcheck="false">
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Se autentfica">Autentificare</button>
            </fieldset>
        </form>
    </div>

{% endblock %}