{% extends 'base.html.twig' %}

{% block body %}

    <div id="pagewrap">
        <div id="logo">
            <img src="{{ asset('images/Logo.png') }}"/>
        </div>
        <header>
            <h1>2 Column Responsive Layout</h1>
        </header>

        <section id="content">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button type="submit">login</button>
            </form>
        </section>
    </div><!-- end-of-pagewrap -->
    <footer>
        <h4>Footer</h4>
        <p>Footer text</p>
    </footer>
{% endblock %}